
.classpath
*.xml
*.prefs
.project
*.class
*.iml
out/production/CSC617M Activity Current/com/music/lose.wav
out/production/CSC617M Activity Current/com/music/SE1.wav
out/production/CSC617M Activity Current/com/music/win.wav
src.rar
*.xml___jb_tmp___
